body{
    background-color: lightpink;
}

/* div {
    max-width: ;
} */

h1{
    color: white;
    font-weight: bold;
    text-align: center;
}
section{
    color: white;
}

ol {
    font-weight: bold;
}

img {
    width: 20%;
}