
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Literata:opsz@7..72&display=swap');

body {
    font-family: Literata, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

header {
    background-color: #f9a602;
}
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    justify-self: center;
    align-self: center;
    color: #470167;
    text-decoration: none;
}
nav a:hover {
    color: #038144;
}
#logo-link {
    padding-top: 10px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}

#title-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;

}
.title-img {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
}
.great, .quote {
    font-family: Courgette;
    font-size: 3em;
    color: #02fa82;
    place-self: center;
}
.great {
    grid-column: 1/2;
    grid-row: 1/2;
}
.quote {
    grid-column: 3/4;
    grid-row: 3/4;
}

#home-grid {
    display: grid;
    grid-template-columns: 1fr 120px 80px 1fr;
}
.sub-box {
    background-color: #470167;
    border: #f9a602 solid;
    grid-column: 1/5;
    grid-row: 1/2;
    height: 150px;
    margin: 35px 45px 35px 45px;
}
.home-subheader {
    color: #02fa82;
    font-family: Courgette;
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 2em;
}
.home-box {
    height: 400px;
    background-color: #02fa82;
    grid-column: 1/4;
    grid-row: 2/5;
    align-self: center;
    margin-left: 3em;
    z-index: -2;
}
.home-circle {
    height: 200px;
    width: 200px;
    background-color: #f9a602;
    grid-column: 2/4;
    grid-row: 3/4;
    border-radius: 100%;
    place-self: center;
}
#home-grid p {
    font-family: Literata, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 50px;
    grid-column: 1/2;
    grid-row: 3/4;
    color: black;
    align-self: center;
    margin-left: 100px;
    margin-right: 30px;
}
#home-grid h3 {
    font-family: Literata, Helvetica, sans-serif;
    text-align: center;
    grid-column: 2/4;
    grid-row: 3/4;
    color: #470167;
    margin-top: 40px;
    align-self: center;
}
.me-img {
    width: 550px;
    grid-column: 3/5;
    grid-row: 3/4;
    z-index: -1;
}

footer {
    background-color: #470167;
    color: #f9a602;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: .9em;
}
footer p a:hover {
    color: #02fa82;
}
footer p a {
    color: #f9a602;
    text-decoration: none;
}
.title-theme {
    font-family: Courgette;
    font-size: 3em;
    color: #f9a602;
    border: #02fa82 solid 5px;
    align-self: center;
    justify-self: center;
}
#love-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 3fr;
    justify-items: center;
    /* align-items: center; */
    gap: 1%;
}
#love-grid p {
    font-family: Literata, Helvetica, sans-serif;
}
.title-love {
    font-family: Courgette;
    font-size: 2em;
    color: black;
    grid-column: 2/3;
    grid-row: 1/2;
}
.love-img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/5;
}
.lilo {
    background-color: #470167;
    color: #02fa82;
    grid-column: 2/4;
    grid-row: 4/5;
}
.olaf {
    background-color: #02fa82;
    color: black;
    grid-column: 2/3;
    grid-row: 2/4;
    border-radius: 50%;
}
.love-albus {
    background-color: #02fa82;
    color: #470167;
    grid-column: 4/5;
    grid-row: 3/5;
}
.maxton {
    background-color: #f9a602;
    color: black;
    grid-column: 3/4;
    grid-row: 1/4;
}
.love-pooh {
    background-color: #470167;
    color: #f9a602;
    grid-column: 4/5;
    grid-row: 1/3;
    border-radius: 50%;
}